{% extends 'base.html.twig' %}

{% block body %}
<section>
<div class="container container-vh">
    <h1>Stan magazynowy:</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produkt</th>
                <th>Ilosc</th>
                <th>Min_stan</th>
                <th>Max_stan</th>
                {% if (is_granted('ROLE_MANAGER') or is_granted ('ROLE_ADMIN')) %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            {% set calkowitaIlosc = 0 %}

            {% for stanMagazynowy in product.stanyMagazynowe %}
                {% set calkowitaIlosc = calkowitaIlosc + stanMagazynowy.ilosc %}
            {% endfor %}

            {% if calkowitaIlosc <= product.minstan %}
                <tr class="bg-danger">
            {% elseif calkowitaIlosc > product.maxstan%}
                <tr class="bg-warning">
            {% else %}
                <tr class="bg-success">
            {% endif %}
                <td><a href="{{ path('produkt_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product }}</td>
                <td>{{ calkowitaIlosc }}</td>
                <td>{{ product.minStan }}</td>
                <td>{{ product.maxStan }}</td>
                {% if (is_granted('ROLE_MANAGER') or is_granted ('ROLE_ADMIN')) %}
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('produkt_show', { 'id': product.id }) }}">show</a>
                            </li>
                        </ul>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if (is_granted('ROLE_MANAGER') or is_granted ('ROLE_ADMIN')) %}
        <ul>
            <li>
                <a href="{{ path('stanmagazynowy_new') }}">Create a new stanMagazynowy</a>
            </li>
            <li>
                <a href="{{ path('produkt_new') }}">Create a new Product</a>
            </li>
            <li>
                <a href="{{ path('jednostka_new') }}">Create a new Jednostka</a>
            </li>
        </ul>

    {% endif %}
    </div>
    </section>
{% endblock %}
