{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stanmagazynowy</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stanMagazynowy.id }}</td>
            </tr>
            <tr>
                <th>Produkt</th>
                <td>{{ stanMagazynowy.produkt }}</td>
            </tr>
            <tr>
                <th>Dostawca</th>
                <td>{{ stanMagazynowy.dostawca }}</td>
            </tr>
            <tr>
                <th>Ilosc</th>
                <td>{{ stanMagazynowy.ilosc }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ stanMagazynowy.cena }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>
                    {% if stanMagazynowy.dataUmieszczenia %}
                        {{ stanMagazynowy.dataUmieszczenia|date('Y/m/d - H:i:s') }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produkt_show', { 'id': stanMagazynowy.produkt.id }) }}">Back to the product</a>
        </li>
        <li>
            <a href="{{ path('stanmagazynowy_edit', { 'id': stanMagazynowy.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
