{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stanmagazynowy</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stanMagazynowy.id }}</td>
            </tr>
            <tr>
                <th>Ilosc</th>
                <td>{{ stanMagazynowy.ilosc }}</td>
            </tr>
            <tr>
                <th>Max_stan</th>
                <td>{{ stanMagazynowy.maxstan }}</td>
            </tr>
            <tr>
                <th>Min_stan</th>
                <td>{{ stanMagazynowy.minstan }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ stanMagazynowy.cena }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stanmagazynowy_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stanmagazynowy_edit', { 'id': stanMagazynowy.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
