{% extends 'base.html.twig' %}

{% block title %}Panel{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    <div class="card">
        <div class="card-header">
            <h3>Panel administratora</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-dark">
                    <tbody>
                      <tr>

                          <td>
                              <a href="{{ path('group_index') }}">Tabela grup</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('danie_index') }}">Tabela dań</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('dostawca_index') }}">Tabela dostawców</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('jednostka_index') }}">Tabela jednostek</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('pozycja_zamowienia_index') }}">Tabela pozycji zamowien</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('pracownik_index') }}">Tabela pracowników</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('produkt_index') }}">Tabela produktów</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('rodzaj_index') }}">Tabela rodzajów</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('skladnik_index') }}">Tabela skladnik</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('stanmagazynowy_index') }}">Tabela magazynu</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('status_zamowienia_index') }}">Tabela statusów (do zamówień)</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('user_index') }}">Tabela użytkowników</a>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <a href="{{ path('zamowienie_index') }}">Tabela zamówień</a>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
{% endif %}
{% if is_granted('ROLE_COOK') %}
    <div>
        <h3> Dla kucharza: </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Zamowienia</th>
                    <th>Dania</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ path('pozycja_zamowienia_index') }}" class="btn btn-info" role="button">Zamowienia</a>
                    </td>
                    <td>
                        <a href="{{ path('danie_index') }}" class="btn btn-info" role="button">Menu</a>
                    </td>
                    <td>
                        <a href="{{ path('stanmagazynowy_index') }}" class="btn btn-info" role="button">Magazyn</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}
{% if is_granted('ROLE_WAITER') %}
    <div>
        <h3> Dla kelnera: </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Platnosci</th>
                    <th>Kuchnia</th>
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ path('zamowienie_index') }}" class="btn btn-info" role="button">Zamowienia oraz platnosci</a>
                    </td>
                    <td>
                        <a href="{{ path('pozycja_zamowienia_index') }}" class="btn btn-info" role="button">Kuchnia i dania</a>
                    </td>
                    <td>
                        <a href="{{ path('danie_index') }}" class="btn btn-info" role="button">Menu</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}
{% if is_granted('ROLE_MANAGER') %}
    <div>
        <h3> Dla menedzera: </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Zamowienia</th>
                    <th>Dania</th>
                    <th>Magazyn i produkty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ path('zamowienie_index') }}" class="btn btn-info" role="button">Zamowienia</a>
                    </td>
                    <td>
                        <a href="{{ path('danie_index') }}" class="btn btn-info" role="button">Menu</a>
                    </td>
                    <td>
                        <a href="{{ path('stanmagazynowy_index') }}" class="btn btn-info" role="button">Magazyn</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}

