{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produkt</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produkt.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ produkt.nazwa }}</td>
            </tr>
            <tr>
                <th>Marka</th>
                <td>{{ produkt.marka }}</td>
            </tr>
            <tr>
                <th>Ilosc kalorii w 100 ml/g<th>
                <td>{{ produkt.iloscKalorii }}</td>
            </tr>
            <tr>
                <th>Zawieta_gluten</th>
                <td>{{ produkt.zawietagluten }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produkt_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produkt_edit', { 'id': produkt.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
