{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produkt</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produkt.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ produkt.nazwa }}</td>
            </tr>
            <tr>
                <th>Marka</th>
                <td>{{ produkt.marka }}</td>
            </tr>
            <tr>
                <th>Ilosc kalorii w 100 ml/g<th>
                <td>{{ produkt.iloscKalorii }}</td>
            </tr>
            <tr>
                <th>Zawieta_gluten</th>
                <td>{{ produkt.zawietagluten }}</td>
            </tr>
            <tr>
                <th>Min ilosc</th>
                <td>{{ produkt.minStan }}</td>
            </tr>
            <tr>
                <th>Max ilosc</th>
                <td>{{ produkt.maxStan }}</td>
            </tr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Dostawca</th>
                        <th>Ilosc</th>
                        <th>Cena</th>
                        <th>Data</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>      
                    {% set calkowitaIlosc = 0 %}

                    {% for stanMagazynowy in produkt.stanyMagazynowe %}
                        {% set calkowitaIlosc = calkowitaIlosc + stanMagazynowy.ilosc %}
                        <tr>
                        <td><a href="{{ path('stanmagazynowy_show', { 'id': stanMagazynowy.id }) }}">{{ stanMagazynowy.id }}</a></td>
                        <td>{{ stanMagazynowy.dostawca }}</td>
                        <td>{{ stanMagazynowy.ilosc }}</td>
                        <td>{{ stanMagazynowy.cena }}</td>
                        <td>
                            {% if stanMagazynowy.dataUmieszczenia %}
                                {{ stanMagazynowy.dataUmieszczenia|date('Y/m/d - H:i:s') }}
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('stanmagazynowy_show', { 'id': stanMagazynowy.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('stanmagazynowy_edit', { 'id': stanMagazynowy.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stanmagazynowy_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produkt_edit', { 'id': produkt.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
