{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zmien email</h1>
    <a class="btn btn-info" href="{{ path('user_index') }}">Cofnij</a>
    {{ form_start(edit_form, {'attr': {'style': 'margin: auto; max-width: 20%;'}} ) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Zmien" />
    {{ form_end(edit_form) }}

        {% if is_granted('ROLE_ADMIN') %}
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
