{% extends 'base.html.twig' %}
{% block title %}SmartWaiter | Nowoczesny system obsługi restauracji{% endblock %}
{% block body %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->





<div id="work" class="page container-vh">
	<div class="container">
<div class="row">
    <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                            {% if (is_granted('ROLE_CLIENT') and is_granted('ROLE_ADMIN') == null ) %}
                            {% for danie in danies if danie.dostepne > 0 %}
							<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ danie.nazwa }}" href="{{ asset('uploads/' ~ danie.image.image) }}">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ asset('uploads/' ~ danie.image.image) }}" alt="Czas przygotowania: {{ danie.czasprzygotowania }} minut<br>Cena: {{ danie.czasprzygotowania }} zł<br>Ilość kalorii: {{ danie.ilosckalorii }} kcal<br>{{ danie.objetosc }} {{ danie.jednostka }}<br>Rodzaj: {{ danie.rodzaj }}<br>Kliknij  <a href='{{ path('danie_show', { 'id': danie.id }) }}'>tutaj</a> aby zamówić danie lub zobaczyć szczegóły">
                            </li>
                            {% endfor %}
                            {% else %}
                                {% for danie in danies %}
                            <li class="item-thumbs span3 design">
                            	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ danie.nazwa }}" href="{{ asset('uploads/' ~ danie.image.image) }}">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="{{ asset('uploads/' ~ danie.image.image) }}" alt="Czas przygotowania: {{ danie.czasprzygotowania }} minut<br>Cena: {{ danie.czasprzygotowania }} zł<br>Ilość kalorii: {{ danie.ilosckalorii }} kcal<br>{{ danie.objetosc }} {{ danie.jednostka }}<br>Rodzaj: {{ danie.rodzaj }}<br>Kliknij  <a href='{{ path('danie_show', { 'id': danie.id }) }}'>tutaj</a> aby zamówić danie lub zobaczyć szczegóły">
                            </li>
                            {% endfor %}
                            {% endif %}


</ul>
                    </section>

            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>




    <ul class="menu-ul-danie">
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_COOK'))  %}
            <li>
                <a class="btn btn-danger btn-zamowienia"style="margin-bottom: 100px;" href="{{ path('danie_new') }}">Stworz nowe danie</a>
            </li>
        {% endif %}
    </ul>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="/_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="/_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="/_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="/_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="/_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="/_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="/_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="/_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="/_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="/_include/js/main.js"></script> <!-- Default JS -->
{% endblock %}
