{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creator dan</h1>
    <h2>Podaj skladniki, wypelnij pola ponizej i zatwierdz przyciskiem "dodaj danie"</h2>
    
    {% if danie.skladniki %}
        {% for skladnik in danie.skladniki %}
            <tr>
                <th>  -  {{ skladnik.produkt }}</th>
                <td>Ilosc: {{ skladnik.ilosc }}</td>
                <td>Zawiera gluten: {{ skladnik.produkt.zawietaGluten }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    <a href="{{ path('skladnik_new') }}">Dodaj składnik</a>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('danie_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
