{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creator dan</h1>
    <h2>Podaj skladniki, wypelnij pola ponizej i zatwierdz przyciskiem "dodaj danie"</h2>
    
    {% if danie.skladniki %}
        {% set iloscKalorii = 0 %}
        {% set tempId = 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Ilosc</th>
                    <th>Zawiera gluten</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for skladnik in danie.skladniki %}
                    {% set iloscKalorii = iloscKalorii + (skladnik.produkt.iloscKalorii * skladnik.ilosc / 100) %}
                    {% set tempId = tempId + 1 %}
                    <tr>
                        <td>{{ skladnik.produkt }}</td>
                        <td>{{ skladnik.ilosc }}</td>
                        <td>
                            {% if  skladnik.produkt.zawietaGluten == 0%}
                                Nie
                            {% else %}
                                Tak
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('skladnik_danie_delete', { 'id': tempId }) }}">Delete</a>
                                </li>
                            </ul>
                        </td>
                   {% endfor %}
                </tr>
            </tbody>
        </table>
    {% endif %}
    <a href="{{ path('skladnik_new') }}">Dodaj składnik</a>
    
    {{ form_start(form) }}
        {{ form_label(form.image) }}
        {{ form_errors(form.image) }}
        {{ form_widget(form.image) }}
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_COOK'))  %}
            <a href="{{ path('gallery_new') }}">Dodaj zdjecie (jezeli nie mago na liscie obok)</a>
        {% endif %}
        </br>
        {{ form_label(form.czas_przygotowania) }}
        {{ form_errors(form.czas_przygotowania) }}
        {{ form_widget(form.czas_przygotowania) }} minute
        </br>
        {{ form_label(form.cena) }}
        {{ form_errors(form.cena) }}
        {{ form_widget(form.cena) }} PLN
        </br>
        {{ form_label(form.ilosc_kalorii) }}
        {{ form_errors(form.ilosc_kalorii) }}
        {{ form_widget(form.ilosc_kalorii) }} Sugerowana ilosc na podstawie skladnikow -> {{ iloscKalorii }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('danie_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
