{% extends 'base.html.twig' %}

{% block body %}
    <h1>Danie</h1>
    {% if errorDelete %}
        <h2> {{ errorDelete }} </h2>
    {% endif %}
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ danie.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ danie.nazwa }}</td>
            </tr>
            <tr>
                <th>Czas_przygotowania</th>
                <td>{{ danie.czasprzygotowania }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ danie.cena }}</td>
            </tr>
            <tr>
                <th>Ilosc_kalorii</th>
                <td>{{ danie.ilosckalorii }}</td>
            </tr>
            <tr>
                <th>Objetosc</t>
                <td>{{ danie.objetosc }} {{ danie.jednostka }}</td>
            <tr>
                <th>Zdjecie</th>
                <td>
                    <img src="{{ asset('uploads/' ~ danie.image.image) }}" alt="" width="400" height="200">
                </td>
            </tr>
            <tr>
                <th>Skladniki:</th>
            </tr>
            {% if danie.skladniki %}
                {% for skladnik in danie.skladniki %}
                    <tr>
                        <th>  -  {{ skladnik.produkt }}</th>
                        <td>Ilosc: {{ skladnik.ilosc }}</td>
                        <td>Zawiera gluten: {{ skladnik.produkt.zawietaGluten }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('danie_index') }}">Back to the list</a>
        </li>
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_COOK'))  %}
            <li>
                Dostepne : {{ danie.dostepne }}
            </li>
            <li>
                <a href="{{ path('danie_edit', { 'id': danie.id }) }}">Edit</a>
            </li>
        {% endif %}
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_CLIENT') or is_granted('ROLE_WAITER')) %}
            <li>
                {{ form_start(zamowienie_form) }}
                    <input type="submit" value="Dodaj do zamowienia">
                    <p><span id="demo"></span></p>
                {{ form_end(zamowienie_form) }}
            </li>
        {% endif %}
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_COOK'))  %}
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block javascripts %}
<script>
    var slider = document.getElementById("form_ilosc");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }
</script>
{% endblock %}
