{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gallery edit</h1>

    {{ form_start(edit_form, { attr:{ novalidate:'novalidate' } }) }}
        <div>{{ form_row(edit_form.name) }}</div>
        <div>
            {% if gallery.image %}
                <img src="{{ asset('uploads/' ~ gallery.image) }}" width="400" height="200">
            {% endif %}
        </div>
        <div>{{ form_row(edit_form.image) }}</div>
        <button type="submit">Edit</button>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('gallery_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}