{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zamowienie edit</h1>
    <table class="table">
            <thead>
                <tr>
                    <th>Danie</th>
                    <th>Ilosc</th>
                    <th>Cena</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% set cenaLaczna = 0 %}
                {% set tempId = 1 %}
                {% for pozycja in zamowienie.pozycjeZamowien %}
                    {% set cenaPozycji = pozycja.cenaJedn * pozycja.ilosc %}
                    {% set cenaLaczna = cenaLaczna + cenaPozycji %}
                    <tr>
                        <td>{{ pozycja.danie }}</td>
                        <td>{{ pozycja.ilosc }}</td>
                        <td>{{ cenaPozycji }} PLN</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('pozycja_delete', { 'id': pozycja.id }) }}">Delete</a>
                                </li>
                            </ul>
                        </td>
                   {% endfor %}
                </tr>
            </tbody>
        </table>
    {% if cenaLaczna >= 0 %}
        Cena laczna zamowienia: {{ cenaLaczna }} PLN
    {% endif %}
    </br>
    <a href="{{ path('danie_index') }}">Dodaj pozycje do zamowienia</a>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('zamowienie_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
