
{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_CLIENT')%}
        <h4>Lista Twoich zamówień</h4>
        <a class="btn btn-success" href="{{ path('zamowieniNowe') }}">Utworz nowe zamowienie</a>
        <h2 class="text-center">Zamowienia w trakcie realizacji:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nr. zamowienia</th>
                    <th>Zamówienie złożone o</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
            {% set flaga = 0 %}
            {% for zamowienie in data %}
                {% if zamowienie.czasrealizacji == null %}
                {% set flaga = 1 %}
                    <tr>
                        <td>{{ zamowienie.id }}</td>
                        <td>
                            {% if zamowienie.czaszlozenia %}
                                {{ zamowienie.czaszlozenia|date('H:i:s') }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-info" href="{{ path('zamowienie_show', { 'id': zamowienie.id }) }}">Wyświetl zawartość</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% if flaga == 0 %}
            <p class="text-center">Brak zamowien, abo dodac przejdz do <a href="{{ path('danie_index') }}">menu</a></p>
        {% endif %}
        <br/>
        <br/>
        <h2 class="text-center">Zamowienia do uregulowania:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nr. zamowienia</th>
                    <th>Zamówienie złożone o</th>
                    <th>Zamówienie zrealizowane o</th>
                    <th>Należność do uregulowania</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
            {% set saldoCalkowite = 0 %}
            {% for zamowienie in data %}
                {% if (zamowienie.czasrealizacji != null and zamowienie.uregulowane == 0 ) %}
                    {% set saldo = 0 %}
                    {% for pozycja in zamowienie.pozycjeZamowien%}
                        {% if pozycja.status != 'Niezrealizowane' %}
                            {% set saldo = saldo + pozycja.cenaJedn * pozycja.ilosc %}
                            {% set saldoCalkowite = saldo + saldoCalkowite %}
                        {% endif %}
                    {% endfor %}
                    {% if saldo > 0 %}
                        <tr>
                            <td>{{ zamowienie.id }}</td>
                            <td>
                                {{ zamowienie.czaszlozenia|date('H:i:s') }}
                            </td>
                            <td>
                                {{ zamowienie.czasrealizacji|date('H:i:s') }}
                            </td>
                            <td>
                                {{ saldo }}
                            </td>
                            <td>
                                <a class="btn btn-info" href="{{ path('zamowienie_show', { 'id': zamowienie.id }) }}">Szczegoly</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% if saldoCalkowite > 0 %}
            <h2>Laczna kwota do uregulowania: {{ saldoCalkowite }}</h2>
        {% else %}
            <p class="text-center">Brak nieuregulowanych naleznosci</a></p>
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_WAITER')%}
    <div class="container" style="height: 82vh;">
        <a href="{{ path('zamowieniNowe') }}"><button class="btn-info">Utworz zamowienie</button></a>
        <h1>Panel platnosci</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nr. zamowienia</th>
                    <th>Konto</th>
                    <th>nr Stolika</th>
                    <th>Naleznosc</th>
                    <th>Szczegoly</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for zamowienie in data %}
                {% if zamowienie.czasrealizacji != null %}
                    {% set saldo = 0 %}
                    {% for pozycja in zamowienie.pozycjeZamowien%}
                        {% if pozycja.status != 'Niezrealizowane' %}
                            {% set saldo = saldo + pozycja.cenaJedn * pozycja.ilosc %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td>{{ zamowienie.id }}</td>
                        <td>
                            {{ zamowienie.konto }}
                        </td>
                        <td>{{ zamowienie.nrStolika }}</td>
                        <td>
                            {{ saldo }}
                        </td>
                        <td>
                            <a href="{{ path('zamowienie_show', { 'id': zamowienie.id }) }}">Wyświetl zawartość</a>
                        </td>
                        <td>
                            <a href="{{ path('zamowienie_uregulowane', { 'id': zamowienie.id }) }}" class="btn btn-success">Potwierdz uregolowanie naleznosci</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER'))%}
<div style="min-height: 83vh;" class="container">
        <h1>Widok administracyjny</h1>
        <h2>Zamowienie list</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Czas_zlozenia</th>
                    <th>Czas_realizacji</th>
                    <th>Nr stolika</th>
                    <th>Konto</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for zamowienie in data %}
                <tr>
                    <td><a href="{{ path('zamowienie_show', { 'id': zamowienie.id }) }}">{{ zamowienie.id }}</a></td>
                    <td>{% if zamowienie.czaszlozenia %}{{ zamowienie.czaszlozenia|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if zamowienie.czasrealizacji %}{{ zamowienie.czasrealizacji|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ zamowienie.nrStolika }}</td>
                    <td>{{ zamowienie.konto }}</td>
                    <td>
                        <ul class="list-group">
                            <li style="list-style: none; margin-bottom: 5px;" class="list-group-item">
                                <a class="btn btn-danger" href="{{ path('zamowienie_show', { 'id': zamowienie.id }) }}">show</a>
                            </li>
                            <li style="list-style: none; margin-bottom: 5px;" class="list-group-item">
                                <a class="btn btn-danger" href="{{ path('zamowienie_edit', { 'id': zamowienie.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="list-group">
            <li style="list-style: none; margin-bottom: 5px;" class="list-group-item">
                <a class="btn btn-primary" href="{{ path('zamowieniNowe') }}">Create a new zamowienie</a>
            </li>
        </ul>
</div>
    {% endif %}
{% endblock %}
