{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zamówienie</h1>
    
    <table>
        <tbody>
            {% set cenaLaczna = 0 %}
            {% for pozycja in zamowienie.pozycjeZamowien %}
                {% set cenaPozycji = pozycja.cenaJedn * pozycja.ilosc %}
                {% set cenaLaczna = cenaLaczna + cenaPozycji %}
                <tr>
                    <th>{{ pozycja.ilosc }}x {{ pozycja.danie }}</th>
                    <td> Cena: {{ cenaPozycji }} PLN</td>
                    <td> -> {{ pozycja.status }}</td>
                </tr>
            {% endfor %}
            {% if cenaLaczna >= 0 %}
                <tr>
                    <th> Cena laczna zamowienia: {{ cenaLaczna }} PLN<th>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{{ path('pozycja_zamowienia_new') }}">Dodaj pozycje do zamowienia</a>
        
    {{ form_start(zamowienieForm) }}
        {{ form_widget(zamowienieForm) }}
        <input type="submit" value="Zloz zamowienie" />
    {{ form_end(zamowienieForm) }}

    <ul>
        <li>
            <a href="{{ path('zamowienie_index') }}">Wroc do listy wyszstkich zamowien</a>
        </li>
    </ul>
{% endblock %}
