{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="min-height: 82vh;">
    <h1>Zamówienie</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Danie</th>
                    <th>Ilosc</th>
                    <th>Cena</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% set cenaLaczna = 0 %}
                {% set tempId = 1 %}
                {% for pozycja in zamowienie.pozycjeZamowien %}
                    {% set cenaPozycji = pozycja.cenaJedn * pozycja.ilosc %}
                    {% set cenaLaczna = cenaLaczna + cenaPozycji %}
                    <tr>
                        <td>{{ pozycja.danie }}</td>
                        <td>{{ pozycja.ilosc }}</td>
                        <td>{{ cenaPozycji }} PLN</td>
                        <td>
                            <ul class="list-group">
                                <li style="list-style: none; margin-bottom: 5px;" class="list-group-item">
                                    <a class="btn btn-danger" href="{{ path('pozycja_zamowienia_delete', { 'id': tempId }) }}">Delete</a>
                                </li>
                            </ul>
                        </td>
                   {% endfor %}
                </tr>
            </tbody>
        </table>
    {% if cenaLaczna >= 0 %}
        Cena laczna zamowienia: {{ cenaLaczna }} PLN
    {% endif %}
    </br>
    <a href="{{ path('danie_index') }}">Dodaj pozycje do zamowienia</a>

    {{ form_start(zamowienieForm) }}
        {{ form_widget(zamowienieForm) }}
        <input type="submit" value="Zloz zamowienie" />
    {{ form_end(zamowienieForm) }}

    <ul>
        <li>
            <a href="{{ path('zamowienie_index') }}">Wroc do listy wyszstkich zamowien</a>
        </li>
    </ul>
    </div>
{% endblock %}
