{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zamówienie</h1>
    
    <table>
        <tbody>
            {% for pozycja in zamowienie.pozycjeZamowien %}
            <tr>
                <th>{{ pozycja.ilosc }}x {{ pozycja.danie }}</th>
                <td> Cena (narazie jest za jedno danie) {{ pozycja.cenaJedn }} zł</td>
                <td> -> {{ pozycja.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('pozycja_zamowienia_new') }}">Dodaj pozycje do zamowienia</a>
        
    {{ form_start(zamowienieForm) }}
        {{ form_widget(zamowienieForm) }}
        <input type="submit" value="Zloz zamowienie" />
    {{ form_end(zamowienieForm) }}

    <ul>
        <li>
            <a href="{{ path('zamowienie_index') }}">Wroc do listy wyszstkich zamowien</a>
        </li>
    </ul>
{% endblock %}
