{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zamowienie</h1>

    <table>
        <tbody>
            {% for pozycja in zamowienie.pozycjeZamowien %}
            <tr>
                <th>{{ pozycja.ilosc }}x {{ pozycja.danie }}</th>
                <td> Cena (narazie jest za jedno danie) {{ pozycja.cenaJedn }} zł</td>
                <td> -> {{ pozycja.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('zamowienie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('zamowienie_edit', { 'id': zamowienie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
