{% extends 'base.html.twig' %}

{% block body %}
<div style="min-height: 83vh;" class="container">
    <h1>Zamowienie</h1>

        <table class="table">
        <tbody>
            {% set cenaLaczna = 0 %}
            {% for pozycja in zamowienie.pozycjeZamowien %}
                {% set cenaPozycji = pozycja.cenaJedn * pozycja.ilosc %}
                {% set cenaLaczna = cenaLaczna + cenaPozycji %}
                <tr>
                    <th>{{ pozycja.ilosc }}x {{ pozycja.danie }}</th>
                    <td> Cena: {{ cenaPozycji }} PLN</td>
                    <td style="color: red;"> -> {{ pozycja.status != '' ? pozycja.status : 'Czeka na akceptacje'}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if cenaLaczna >= 0 %}
        <h3 class="text-center"> Cena laczna zamowienia: {{ cenaLaczna }} PLN</h3>
    {% endif %}
    <ul class="list-group">
        <li style="list-style: none; margin-bottom: 5px;" class="list-group-item">
            <a class="btn btn-danger" href="{{ path('zamowienie_index') }}">Wroc do zamowien</a>
        </li>
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_WAITER') or
               is_granted('ROLE_COOK') or is_granted('ROLE_MANAGER'))  %}
            <li style="list-style: none; margin-bottom: 5px;" class="list-group-item">
                <a class="btn btn-danger" style="{{ is_granted('ROLE_WAITER') ? 'display: none;' : '' }}"href="{{ path('zamowienie_edit', { 'id': zamowienie.id }) }}">Edytuj</a>
            </li>
        {% endif %}
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER')) %}
            <li style="list-style: none; margin-bottom: 5px;" class="list-group-item">
                {{ form_start(delete_form) }}
                    <input class="btn btn-primary" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
    </div>
{% endblock %}
