{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zamowienie</h1>

        <table>
        <tbody>
            {% set cenaLaczna = 0 %}
            {% for pozycja in zamowienie.pozycjeZamowien %}
                {% set cenaPozycji = pozycja.cenaJedn * pozycja.ilosc %}
                {% set cenaLaczna = cenaLaczna + cenaPozycji %}
                <tr>
                    <th>{{ pozycja.ilosc }}x {{ pozycja.danie }}</th>
                    <td> Cena: {{ cenaPozycji }} PLN</td>
                    <td> -> {{ pozycja.status }}</td>
                </tr>
            {% endfor %}
            {% if cenaLaczna >= 0 %}
                <tr>
                    <th> Cena laczna zamowienia: {{ cenaLaczna }} PLN<th>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('zamowienie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('zamowienie_edit', { 'id': zamowienie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
