{% extends 'base.html.twig' %}

{% block body %}
        {% if is_granted('ROLE_COOK')%}
        <h1>Zamowienia</h1>
        <table>
            <thead>
                <tr>
                    <th>Data zamowienia</th>
                    <th>Danie</th>
                    <th>Ilosc</th>
                    <th>Akcja</th>
                </tr>
            <tbody>
                {% for pozycja in data %}
                    {% if pozycja.status != 'Zrealizowane' %}
                        <tr>
                            <td>{{ pozycja.zamowienie.czasZlozenia|date('H:i:s') }}</td>
                            <td>{{ pozycja.danie }}</td>
                            <td>{{ pozycja.ilosc }}</td>
                            <td>
                               <ul>
                                   {% if pozycja.status == 'Czeka na przyjecie' %}
                                        <li>
                                            <a href="{{ path('pozycja_status', {'id': pozycja.id, 'status': 'W trakcie realizacji' }) }}">Przyjmij</a>
                                        </li>
                                    {% endif %}
                                    {% if pozycja.status == 'W trakcie realizacji' %}
                                        <li>
                                            <a href="{{ path('pozycja_status', {'id': pozycja.id, 'status': 'Do wydania' }) }}">Wydaj</a>
                                        </li>
                                    {% endif %}
                                    {% if pozycja.status == 'Do wydania' %}
                                        <li>Gotowe</li>
                                    {% endif %}
                                </ul> 
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
