{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zamowienia</h1>
    <table>
        <thead>
            <tr>
                <th>Data zamowienia</th>
                <th>Danie</th>
                <th>Ilosc</th>
                <th>Nr stolika</th>
                <th>Akcja</th>
                <th></th>
            </tr>
        <tbody>
            {% if is_granted('ROLE_WAITER') %}
                {% for pozycja in data %}
                    {% if (pozycja.status == 'Do wydania' and pozycja.status != 'Zrealizowane' and pozycja.status != 'Niezrealizowane')%}
                        <tr>
                            <td>{{ pozycja.zamowienie.czasZlozenia|date('H:i:s') }}</td>
                            <td>{{ pozycja.danie }}</td>
                            <td>{{ pozycja.ilosc }}</td>
                            <td>{{ pozycja.zamowienie.nrStolika }}</td>
                            <td>
                                <ul>
                                    {% if pozycja.status == 'Do wydania' %}
                                         <li>
                                             <a href="{{ path('pozycja_status', {'id': pozycja.id, 'status': 'Zrealizowane' }) }}">Zrealizowane</a>
                                         </li>
                                     {% endif %}
                                     {% if pozycja.status == 'Do wydania' %}
                                         <li>
                                             <a href="{{ path('pozycja_status', {'id': pozycja.id, 'status': 'Niezrealizowane' }) }}">Niezrealizowane</a>
                                         </li>
                                     {% endif %}
                                 </ul>
                            </td>
                            <td> GOTOWE -> DO WYDANIA DLA KLIENTA: {{ pozycja.zamowienie.konto }}</td>
                        </tr>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% if is_granted('ROLE_COOK') %}
        {% for pozycja in data %}
            {% if (pozycja.status != 'Do wydania' and pozycja.status != 'Zrealizowane' and pozycja.status != 'Niezrealizowane')%}
                <tr>
                    <td>{{ pozycja.zamowienie.czasZlozenia|date('H:i:s') }}</td>
                    <td>{{ pozycja.danie }}</td>
                    <td>{{ pozycja.ilosc }}</td>
                    <td>
                        <ul>
                            {% if pozycja.status == 'Czeka na przyjecie' %}
                                 <li>
                                     <a href="{{ path('pozycja_status', {'id': pozycja.id, 'status': 'W trakcie realizacji' }) }}">Przyjmij</a>
                                 </li>
                             {% endif %}
                             {% if pozycja.status == 'W trakcie realizacji' %}
                                 <li>
                                     <a href="{{ path('pozycja_status', {'id': pozycja.id, 'status': 'Do wydania' }) }}">Wydaj</a>
                                 </li>
                             {% endif %}
                             {% if pozycja.status == 'Do wydania' %}
                                 <li>Gotowe</li>
                             {% endif %}
                         </ul>
                    </td>  
                </tr>
            {% endif %}
        {% endfor %}
{% endif %}
     </tbody>
   </table>     
{% endblock %}
